@font-face {
  font-family: DS;
  src: url("../assets/DSFONT.ttf");
}

body {
  background-color: #1d9266;
  font-family: DS;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
