/*memo icons*/
#bombIcon {
  position: absolute;
  z-index: 1;
  margin-left: 0.8rem;
  margin-top: 0.85rem;
  height: 1.5rem;
  width: 1.5rem;
}

#bombIcon:hover {
  z-index: 1;
}

#oneIcon {
  position: absolute;
  z-index: 1;
  margin-left: 4.75rem;
  margin-top: 0.9rem;
  height: 1.3rem;
  width: 1.3rem;
}

#oneIcon:hover {
  z-index: 1;
}

#twoIcon {
  position: absolute;
  z-index: 1;
  margin-left: 4.75rem;
  margin-top: 4.75rem;
  height: 1.3rem;
  width: 1.3rem;
}

#twoIcon:hover {
  z-index: 1;
}

#threeIcon {
  position: absolute;
  z-index: 1;
  margin-left: 0.9rem;
  margin-top: 4.75rem;
  height: 1.3rem;
  width: 1.3rem;
}

#threeIcon:hover {
  z-index: 1;
}
